html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: 323232;
  font-weight: 400;
}

.catalog-body {
  background-color: #849d8f;
  background-image: url("../img/catalog-background.png");
  background-repeat: repeat-x;

}


a:hover,
a:focus {
  color: #ffbc9e;
  text-decoration: underline;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

a:active {
  color: #ffbc9e;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  border: none;
}

.btn {
  display: block;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;

}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #f27f65;
  background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  text-decoration: none;

}

.btn:active {
  color: #ffffff;
  background-color: #da4e36;
  background-image: linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

}

.default {
  margin: 0;
  padding: 0;
  list-style: none;
}



.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}


.main-header {
  padding-top: 9px;
  min-width: 103px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}


.main-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);

}



.site-navigation {
  display: flex;
  min-height: 53px;
  min-width: 650px;
  margin-left: 7px;
}

.site-navigation li {
  position: relative;
}



.site-navigation a {
  display: block;
  padding: 8px 13px;
  margin-top: 12px;
  margin-left: 2px;

}



.site-navigation a:hover,
.site-navigation a:focus,
.user-block a:hover,
.user-block a:focus {
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
  border-radius: 25px;
}

.site-navigation a:active {
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);

}



.catalog-menu {
  display: none;
  background-color: #f8f7f4;
  position: absolute;
  top: 50px;
  left: -5px;
  width: 144px;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);


}

.catalog-menu a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin: 0;
  padding-right: 0;
  border-radius: 0;

}

.catalog-menu a:hover,
.catalog-menu a:focus {
  background-color: #fbded8;
  border-radius: 0;
}

.catalog-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.on-page a {
  background-color: #d07058;
}

.on-page a:hover,
.on-page a:focus {
  background-color: #d07058;
}


.catalog-menu-item:hover .catalog-menu {
  display: block;
}


.new-items a {
  font-weight: bold;
  padding-bottom: 13px;
  position: relative;
}

.new-items a::before {
  content: "";
  position: absolute;
  width: 129px;
  top: 35px;
  left: 7px;
  border-bottom: 1px solid #d1d0ce;
}

.catalog-first a {
  padding-top: 10px;
}

.active > a {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 15px;
  text-decoration: none;
}


.user-block {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  min-height: 53px;
  width: 275px;
  padding-top: 12px;
  padding-right: 0px;
}

.user-block li {
  position: relative;
}


.search-form {
  display: none;
  position: absolute;
  width: 341px;
  min-height: 84px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
  background-color: #f8f7f4;
  right: 0px;
  top: 38px;
  border-radius: 6px;
  z-index: 10;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form input {
  font: inherit;
  line-height: 16px;
  padding-top: 10px;
  padding-left: 15px;

  padding-bottom: 10px;
  font-weight: 400;
  width: 100%;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-icon:hover .search-form {
  display: block;
}

.user-block a {
  display: block;
  padding: 9px 16px;
  padding-left: 45px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;

}

.user-block a:hover,
.user-block a:active {
  color: #323232;
}

.user-block a::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  left: 17px;
}

.search-icon a {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 16px;
  margin-top: 2px;

}

.search-icon a::before {
  left: 55%;
  top: 50%;
  margin-left: -10px;
  margin-top: -8px;
  background-image: url("../img/magnifier.svg");
  background-repeat: no-repeat;
}

.search-icon a:hover::before,
.search-icon a:active::before,
.search-icon a:focus::before {
  background-image: url(../img/magnifier-hover.svg);
  background-repeat: no-repeat;

}


.enter-form {
  display: none;
  position: absolute;
  width: 277px;
  height: 214px;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  right: 0;
  top: 38px;
  padding-top: 0px;
  padding-left: 19px;
  padding-bottom: 21px;
  padding-right: 17px;
  z-index: 10;
}


.enter-form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  font: inherit;
}

.registration-block {
  margin-top: 22px;
  padding-left: 120px;
}


.enter-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);

}

.enter-form a:hover,
.enter-form a:focus {
  color: #e84d37;
  text-decoration: underline;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.enter-form a:active {
  color: #e84d37;
  background: none;
}

.enter-form .btn {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  width: 100px;
  min-height: 44px;
  top: 148px;
  left: 19px;
}

li:hover > .enter-form {
  display: block;
}

.enter-icon::before {
  background-image: url("../img/enter.svg");

}

.enter-icon:hover::before,
.enter-icon:active::before,
.enter-icon:focus::before {
  background-image: url("../img/enter-hover.svg");
  background-repeat: no-repeat;
}

.basket-icon::before {
  background-image: url(../img/basket.svg);

}

.basket-icon:active::before,
.basket-icon:hover::before,
.basket-icon:focus::before {
  background-image: url("../img/basket-hover.svg");
}

.basket-full a::before {
  background-image: url("../img/basket-full.svg");
}

.addres-phone {
  width: 167px;
  margin-top: -4px;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: bold;
  text-align: right;
}

.phone {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  width: 167px;
  margin-top: 4px;
  text-decoration: none;
}

.addres-phone a {
  text-decoration: none;
}

.phone:hover {
  color: #ffffff;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  border: none;
}

.order {
  position: absolute;
  display: none;
  width: 540px;
  height: 242px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  right: 0px;
  top: 38px;
  padding: 26px 15px;
  padding-top: 17px;
  border-radius: 5px;
}

.order table {

  display: flex;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border-bottom: 1px solid #cacac7;
}


.order td {
  position: relative;
  //  padding-bottom: 13px;
  vertical-align: top;
  //padding-top: 10px;
  padding-bottom: 14px;


}


.delete {
  width: 21px;
  padding-top: 12px
}

.order-img {
  width: 44px;
  padding-top: 0px;


}

.order-description {
  width: 244px;
  padding-right: 15px;
  padding-top: 10px;


}

.order-info {
  width: 121px;
  padding-top: 10px;

}

.full-price {
  width: 68px;
  padding-top: 10px;
}

.delete-button {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 0px;

  background-image: url(../img/x-1.svg);
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
}


.order img {
  border-radius: 50%;
}

.order-price {
  color: #999999;
}

.order p {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
  text-align: right;
  padding-bottom: 60px;
  padding-top: 14px;

}

.order .btn {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  bottom: 21px;
  right: 15px;
  min-height: 45px;
  width: 170px
}

li:hover > .order {
  display: block;
}

.crumbs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 18px;
  margin-top: 0px;
  width: 50%;
}

.crumbs li {
  margin-right: 11px;
}


.crumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.crumbs a:hover {
  color: rgb(255, 188, 158);
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.crumbs-active a {
  text-decoration: none;
}

.crumbs-active a:hover {
  color: #ffffff;
}

.catalog-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 2px;
}

.sort-form {
  padding-top: 26px;
  padding-bottom: 38px;
}

.sort-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}




.sort-form label,
.sort-form p,
.sort-form span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.sort-form p,
.range,
.select-block {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

*[class*="label-"] {
  padding-bottom: 6px;
  padding-left: 14px;
}

.label-select {
  padding-left: 16px;
}



.label-fatness {
  `margin-bottom: 6px;
  padding-left: 13px;
}

.label-fillers {
  padding-bottom: 4px;
  padding-left: 15px;
}

.sort-form span {
  display: flex;

}

.opacity-fill {
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 37px;
  padding-top: 8px;
  padding-bottom: 7px;
  border-radius: 15px;
}

.select-wrapper {
  position: relative;

}

.select-wrapper::before {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top: 10px solid #ffffff;
  right: 14px;
  top: 13px;
}



.sort-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  width: 194px;
  min-height: 36px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 14px;
  position: relative;
  margin-bottom: 16px;
}

.sort-select::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  top: 0px;
  left: 0px;
}

.sort-select:hover {
  color: #323232;
  background-color: #9db1a5;

}

.range {
  width: 220px;
}

.range-block {
  width: 220px;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.range-line {
  position: relative;
  width: 176px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
  margin-top: 16px;
  margin-left: 21px;
  cursor: pointer;
}

.range-fill {
  width: 100px;
  height: 100%;
  margin-left: 22px;
  background-color: rgb(248, 247, 244);

}

.range-from,
.range-to {
  position: absolute;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
  border: 8px solid #ffffff;
  top: -8px;
  z-index: 2;


}

.range-from {
  left: 13px;
}

.range-to {
  right: 45px;
}

.fatness {
  padding-right: 12px;
  //padding-left: 14px;
  padding-top: 9px;

}


.fatness input {
  display: none;
}

.fatness label {
  position: relative;
  padding-left: 45px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}



.fatness label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  opacity: 0.8;
  background-repeat: no-repeat;
  left: 13px;
  top: -1px;
}



.fatness label::after {
  content: "";
  position: absolute;
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.8;
  background-repeat: no-repeat;
  left: 20px;
  top: 6px;
}

.fatness input:checked + label::after {
  display: block;
}

.fatness label:hover::before,
.fatness label:hover::after {
  opacity: 1;
}

.fillers {
  margin-top: 3px;
  padding-left: 16px;
  padding-bottom: 0px;
}

.fillers input {
  display: none;
}

.fillers label {
  font-size: 16px;
  line-height: 18px;
  padding-left: 32px;
  margin-right: 20px;
  position: relative;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: 500;
  margin-bottom: 0px;
}

.fillers label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  background-repeat: no-repeat;
  left: -1px;
  top: -2px;
}

.fillers label:hover::before {
  opacity: 1;
}

.fillers input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.sort-form button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #a6b7ae;
  border: 2px solid #fbfcfb;
  min-width: 142px;
  height: 36px;
  border-radius: 25px;
  margin-top: auto;
  margin-left: 3px;
  margin-bottom: 2px;
}

.sort-form button:hover,
.sort-form button:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.sort-form button:active {
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
  border: none;

}


//Слайдер

.site-wrapper {
  margin: 0 auto;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1200px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
}

.slider {
  position: relative;

  padding-top: 275px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-button {
  display: inline-block;
  min-width: 280px;
  min-height: 63px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slider-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4)
}

#prod-1:checked ~ .site-wrapper {

  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  min-width: 1200px;
  background-position: center top;
}

#prod-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 1200px;
}

#prod-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 1200px;
}

#prod-1:checked ~ .site-wrapper #slide-1,
#prod-2:checked ~ .site-wrapper #slide-2,
#prod-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#prod-1:checked ~ .site-wrapper label[for="prod-1"],
#prod-2:checked ~ .site-wrapper label[for="prod-2"],
#prod-3:checked ~ .site-wrapper label[for="prod-3"] {
  background-color: #ffffff;
}



.banners {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 42px;


}

li[class^="banner-"] {
  position: relative;
  width: 560px;
  border-radius: 20px;
  // min-height: 230px;
}

.banners h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  padding-left: 18px;
  padding-top: 17px;

  color:
}

.banners-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.banners p {
  font-size: 18px;
  line-height: 22px;
  padding-left: 19px;
  padding-top: 15px;
  padding-bottom: 112px;
  padding-right: 30px;
}

.banners .btn {
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  bottom: 23px;
  right: 21px;
  padding-top: 12px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 15px;
  height: 46px;
  min-width: 165px;
  text-align: left;
}

.banner-1 {
  background-color: #9f1d36;
  background-image: url("../img/raspberry-background-full.jpg")
}

.banner-2 {
  background-color: #3d2419;
  background-image: url("../img/chocolate-background-full.jpg")
}

.hits {

  padding-top: 40px;
  padding-bottom: 38px;
}

.goods {
  padding-right: 14px;
  padding-left: 14px;
}

.hits img,
.goods img {
  border-radius: 50%;


}

.hit-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hit-list li {
  width: 267px;
  position: relative;

}

.hit-list li::before {
  content: "";
  position: absolute;
  width: 63px;
  height: 63px;

  background-image: url("../img/hit.svg");
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;

}

.items-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.items-list li {
  width: 267px;
  margin-right: 13px;
  margin-left: 13px;
  position: relative;
  padding-bottom: 39px;

}

.item-hover {
  display: none;
  position: absolute;
  width: 294px;
  height: 406px;
  background-color: rgba(255, 255, 255, 0.2);
  top: -6px;
  left: -13px;
  background-repeat: no-repeat;
  z-index: 10;


}

.item-hover .btn {
  position: absolute;
  bottom: 21px;
  left: 45px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  width: 202px;
  height: 44px;
  padding-top: 12px;
}

li:hover > .item-hover {
  display: block;
}


.hits a {
  text-decoration: none;
}

.hit-price {
  position: absolute;
  top: 210px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.hit-price span {
  font-size: 30px;
  line-height: 45px;
}

.hit-description {
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  color: #ffffff;
  margin-top: 7px;
  margin-left: 4px;
  padding-right: 5px;
}

.hit-description:hover {
  color: rgb(255, 188, 158);
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.features {

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background-color: #eaddbf;
  background-image: url(../img/waffle-pattern.jpg);
  border-radius: 20px;

}

.features-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}

.features-list li {
  position: relative;
  width: 540px;
  padding-left: 57px;
  padding-top: 20px;
}

.features-list li::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;

  left: 0px;
  top: 6px;
  background-repeat: no-repeat;

}

.features-list li:nth-child(1)::before {
  background-image: url(../img/ic-icon.svg);
}

.features-list li:nth-child(2)::before {
  background-image: url(../img/cow-icon.svg);
}

.features-list li:nth-child(3)::before {
  background-image: url(../img/leaf-icon.svg);
}

.features-list li:nth-child(4)::before {
  background-image: url(../img/thermometer-icon.svg);
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;


}

.index-column {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 40px;
  padding-bottom: 40px;
}

.news-blog,
.subscription-form {
  width: 560px;
  min-height: 219px;
  border-radius: 20px;

}

.news-blog {
  padding-left: 20px;
  padding-top: 26px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/strawberry-background-mask.jpg");


}

.news-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news-blog a {
  display: block;
  width: 281px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.news-blog a:hover {
  text-decoration: underline;
  text-decoration-color: #323232;
}

.subscription-form {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: 5a5a5a;
  background-color: #f8f7f4;
  padding-top: 29px;
  padding-left: 21px;
  padding-bottom: 33px;
  padding-right: 21px;
  border: 6px solid #f8f7f4;
  border-image-source: url(../img/post-background.svg);
  border-image-slice: 6;
}

.subscription-form form {
  display: flex;
  align-items: flex-end;

}

.subscription-form input {
  margin-top: 34px;
  width: 368px;
  height: 44px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 14px;
  padding-bottom: 13px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.subscription-form .btn {
  font-size: 18px;
  line-height: 24px;
  margin-left: 12px;
  width: 129px;
  height: 44px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);

}

.subscription-form button:hover {

  background: linear-gradient(#f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.map {
  padding: 0;
  position: relative;
}



.map::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 145px;
  background-image: url("../img/pin.png");
  background-repeat: no-repeat;
  top: 140px;
  left: 265px;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}


.address {
  width: 303px;
  padding-top: 32px;
  padding-left: 26px;
  padding-right: 25px;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: 323232;
  background-color: #fefefe;
  width: 302px;
  position: absolute;
  bottom: 62px;
  right: 27px;
  border-radius: 20px;
  z-index: 5;
}

.address-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.address p {
  margin-bottom: 0px;
}

.address p:nth-child(3) {
  margin-top: 19px;
}

.address p:nth-child(4) {
  margin-top: 7px;
}

.address .btn {
  font-size: 18px;
  line-height: 24px;
  width: 252px;
  height: 44px;
  padding-top: 12px;
  margin-top: 20px;


}

.paginator {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  margin-top: 40px;
  padding-bottom: 33px;
  border-bottom: 1px solid #a9bbb1;

}

.paginator li {
  margin-right: 2px;
  min-width: 12px;

}



.paginator li:last-child {
  margin-right: 0px;
}

.paginator a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}

.paginator a:hover {
  background-color: #9db1a5;
}

.previous-page a:hover,
.next-page a:hover {
  background-color: transparent;
}

.paginator-active a:hover {
  background-color: #ffffff;
}

.paginator-active a {
  color: #323232;
  background-color: #ffffff;


}

.previous-page a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1px;
  left: -8px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  transform: scale(-1);
  opacity: 0.2;
}

.next-page a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  right: -11px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;


}

.next-page a {
  width: 21px;
}

.main-footer {
  padding-top: 13px;
  padding-bottom: 22px;
  padding-right: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.social {
  width: 267px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  position: relative;
  padding-top: 17px;
  padding-left: 0px;

}

.social a {
  display: block;
  margin-right: 49px;
  opacity: 0.8;
}

.social a:hover {
  opacity: 1;

}

.social a::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;

  background-image:
    url("../img/Twitter.svg"),
    url("../img/social-border.svg");

  background-repeat: no-repeat, no-repeat;
  background-position: 50%, 50%;

}

.inst a::before {
  background-image:
    url("../img/instagram.svg"),
    url("../img/social-border.svg");
}

.fb a::before {
  background-image:
    url("../img/Facebook.svg"),
    url("../img/social-border.svg");
}

.vk a::before {
  background-image:
    url("../img/Vkontakte.svg"),
    url("../img/social-border.svg");
}

.official {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 400px;
  margin-left: 155px;
  padding-top: 13px;


}

.official li {

  min-width: 142px;
}

.official a {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.official a:hover {
  color: rgb(255, 188, 158);
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.suppliers a {
  position: relative;
}

.suppliers a::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 16px;

  left: -22px;
  top: 0px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;

}



.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;

}

.footer-copyright {
  margin-left: auto;
}

.footer-copyright a {
  text-decoration: none;
}

.footer-copyright span {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.feedback-form {
  display: none;
  position: fixed;
  top: 338px;
  left: 50%;
  background-color: #f8f7f4;
  width: 478px;
  min-height: 442px;
  padding-top: 16px;
  padding-left: 23px;
  padding-right: 25px;
  border-radius: 10px;
  margin-left: -239px;
  z-index: 10;
}

.feedback-form h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  padding-bottom: 18px;

}

.feedback-form input {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
  margin-left: 2px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font: inherit;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-form input:active {
  border: 2px solid #8fbdec;
}

.feedback-form input:hover {
  border: 2px solid #c7c6c5;
}

.feedback-form textarea {
  min-height: 155px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 96px;
  padding-left: 14px;
  font: inherit;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.close-button {
  width: 17px;
  height: 17px;
  border: none;
  background-color: transparent;
  position: absolute;
  background-image: url("../img/X.svg");
  background-repeat: no-repeat;
  right: 29px;
  top: 14px;
}

.feedback-form .btn {
  font-size: 18px;
  line-height: 24px;
  padding-top: 9px;
  text-align: center;
  min-width: 137px;
  min-height: 45px;
  padding-bottom: 10px;
  position: absolute;
  right: 25px;
  bottom: 27px;
}

.show {
  display: block;
  animation-name: bounce-1;
  animation-duration: 0.6s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes bounce-1 {
  0% {
    transform: translate(200px, 50px);
    opacity: 0.3;
  }

  70% {
    transform: translate(100px, 50px);
    opacity: 0.7;
  }

  90% {
    transform: translate(50px, 20px);
    opacity: 0.9;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
